<app-master-page>
    <h1 class="dark-bar mb-5 text-center">Contact Us</h1>

    <div class="col-12">
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="px-2">

                    <div class="text-center pt-4 pb-5">
                        <i class="material-icons jumbo-icon text-primary">phone</i>
                    </div>

                    <h2 class="text-center">Phone:</h2>
                    <h3 class="text-center text-muted"><a href="tel:207-242-2474">(207)-242-2474</a></h3>
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div class="px-2">
                    <div class="text-center pt-4 pb-5">
                        <i class="material-icons jumbo-icon text-primary">email</i>
                    </div>

                    <h2 class="text-center">Email:</h2>
                    <h3 class="text-center text-muted"><a href="mailto:gctw396@gmail.com">gctw396@gmail.com</a></h3>
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div class="px-2">
                    <div class="text-center pt-4 pb-5">
                        <img src="/assets/imgs/facebook.png" class="py-1" style="width: 64px;">
                    </div>

                    <h2 class="text-center">Facebook:</h2>
                    <h3 class="text-center text-muted"><a href="https://www.facebook.com/GardinerCarAndTruckWash/" target="_blank">Gardiner
                            Car And Truck Wash LLC</a></h3>
                </div>
            </div>
        </div>
    </div>

</app-master-page>