{{ define "main" }}
<div class="row">
	<div class="col-12">
		<h1 class="dark-bar mb-5 text-center title-bar d-block">{{ .Title }}</h1>
	</div>

	<div class="col-12 col-xl-4 pb-4 pb-lg-0">
		<div class="px-2">
			<div class="text-center pt-4 pb-5">
				<i class="material-icons jumbo-icon text-primary">phone</i>
			</div>

			<h2 class="text-center">Phone:</h2>
			<h3 class="text-center text-muted"><a href="tel:207-242-2474">(207)-242-2474</a></h3>
		</div>
	</div>

	<div class="col-12 col-xl-4 pb-4 pb-lg-0">
		<div class="px-2">
			<div class="text-center pt-4 pb-5">
				<i class="material-icons jumbo-icon text-primary">email</i>
			</div>

			<h2 class="text-center">Email:</h2>
			<h4 class="text-center text-muted"><a
					href="mailto:info@gardinercarandtruckwash.com">Info<wbr>@GardinerCarAnd<wbr>TruckWash.com</a>
			</h4>
		</div>
	</div>

	<div class="col-12 col-xl-4 pb-4 pb-lg-0">
		<div class="px-2">
			<div class="text-center pt-4 pb-5">
				<img src="/images/facebook.png" class="py-1" style="width: 64px;">
			</div>

			<h2 class="text-center">Facebook:</h2>
			<h3 class="text-center text-muted"><a href="https://www.facebook.com/GardinerCarAndTruckWash/"
					target="_blank">
					Gardiner Car And <br /> Truck Wash LLC</a></h3>
		</div>
	</div>
</div>
{{ end }}