<app-nav-bar></app-nav-bar>

<div class="row my-5 mx-lg-4">
    <div class="col-lg-10 offset-lg-1">
        <div class="row pb-5">
            <div class="col-12">
                <h1 class="dark-bar text-center mb-5">Location</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-lg-5">
                <div class="d-table h-100">
                    <div class="text-muted px-5 d-table-cell" style="font-size: 1.4em; vertical-align: middle">
                        <h3 class="text-dark font-weight-bold text-center">Gardiner Car And Truck Wash LLC</h3>

                        <p class="text-dark text-center pb-3">
                            396 Brunswick Ave <br>
                            Gardiner, Maine 04345
                        </p>

                        <p>
                            Conveniently located from I-295 Exit 49 (US-201 toward Gardiner) just 3.2 miles on the
                            right or 1 mile from Downtown Gardiner.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-7">
                <img src="/assets/imgs/building.jpg" style="width: 100%;" />
            </div>
        </div>
    </div>
</div>


<app-footer></app-footer>