<app-nav-bar></app-nav-bar>

<div class="row my-5">
    <div class="col-lg-10 offset-lg-1">
        <h1 class="dark-bar text-center mb-5">Touch Free Washes</h1>

        <div class="row text-center text-light py-0 my-0">
            <div class="col-lg-2 mr-1 h-100">
                &nbsp;
            </div>
            <div class="col-lg-2 px-0">
                <h2 class="bg-primary mr-1 py-3">Exteme</h2>
            </div>
            <div class="col-lg-2 px-0">
                <h2 class="bg-primary mr-1 py-3">Ultra</h2>
            </div>
            <div class="col-lg-2 px-0">
                <h2 class="bg-primary mr-1 py-3">Deluxe</h2>
            </div>
            <div class="col-lg-2 px-0">
                <h2 class="bg-primary mr-1 py-3">Express</h2>
            </div>
        </div>

        <div class="row pb-1">
            <div class="col-lg-2 d-flex bg-light-blue mr-1" style="justify-content: center; align-items: center">
                <h5 class="my-0">Undercarriage Blast</h5>
            </div>
            <div class="col-lg-2 text-center px-0">
                <div class="bg-light-blue mr-1 py-1">
                    <i class="material-icons text-success">check</i>
                </div>
            </div>
            <div class="col-lg-2 text-center px-0">
                <div class="bg-light-blue mr-1 py-1">
                    <i class="material-icons text-success">check</i>
                </div>
            </div>
            <div class="col-lg-2 text-center px-0">
                <div class="bg-light-blue mr-1 py-1">
                    <i class="material-icons text-success">check</i>
                </div>
            </div>
            <div class="col-lg-2 px-0">
                <div class="bg-light-blue mr-1 py-1 h-100">
                    &nbsp;
                </div>
            </div>
        </div>
        <div class="row pb-1">
            <div class="col-lg-2 d-flex bg-light-blue mr-1" style="justify-content: center; align-items: center">
                <h5>Rocker Panel Blast</h5>
            </div>
            <div class="col-lg-2 text-center px-0">
                <div class="bg-light-blue mr-1 py-1">
                    <i class="material-icons text-success">check</i>
                </div>
            </div>
            <div class="col-lg-2 text-center px-0">
                <div class="bg-light-blue mr-1 py-1">
                    <i class="material-icons text-success">check</i>
                </div>
            </div>
            <div class="col-lg-2 text-center px-0">
                <div class="bg-light-blue mr-1 py-1">
                    <i class="material-icons text-success">check</i>
                </div>
            </div>
            <div class="col-lg-2 px-0">
                <div class="bg-light-blue mr-1 py-1 h-100">
                    &nbsp;
                </div>
            </div>
        </div>
        <div class="row pb-1">
            <div class="col-lg-2 d-flex bg-light-blue mr-1" style="justify-content: center; align-items: center">
                <h5>Body Bath</h5>
            </div>
            <div class="col-lg-2 px-0">
                <div class="bg-light-blue mr-1 py-1 h-100">
                    &nbsp;
                </div>
            </div>
            <div class="col-lg-2 px-0">
                <div class="bg-light-blue mr-1 py-1 h-100">
                    &nbsp;
                </div>
            </div>
            <div class="col-lg-2 text-center px-0">
                <div class="bg-light-blue mr-1 py-1">
                    <i class="material-icons text-success">check</i>
                </div>
            </div>
            <div class="col-lg-2 text-center px-0">
                <div class="bg-light-blue mr-1 py-1">
                    <i class="material-icons text-success">check</i>
                </div>
            </div>

        </div>
        <div class="row pb-1">
            <div class="col-lg-2 d-flex bg-light-blue mr-1" style="justify-content: center; align-items: center">
                <h5>Double Body Bath</h5>
            </div>
            <div class="col-lg-2 text-center px-0">
                <div class="bg-light-blue mr-1 py-1">
                    <i class="material-icons text-success">check</i>
                </div>
            </div>
            <div class="col-lg-2 text-center px-0">
                <div class="bg-light-blue mr-1 py-1">
                    <i class="material-icons text-success">check</i>
                </div>
            </div>
            <div class="col-lg-2 px-0">
                <div class="bg-light-blue mr-1 py-1 h-100">
                    &nbsp;
                </div>
            </div>
            <div class="col-lg-2 px-0">
                <div class="bg-light-blue mr-1 py-1 h-100">
                    &nbsp;
                </div>
            </div>
        </div>
        <div class="row pb-1">
            <div class="col-lg-2 d-flex bg-light-blue mr-1" style="justify-content: center; align-items: center">
                <h5>High Pressure Wash</h5>
            </div>
            <div class="col-lg-2 text-center px-0">
                <div class="bg-light-blue mr-1 py-1">
                    <i class="material-icons text-success">check</i>
                </div>
            </div>
            <div class="col-lg-2 text-center px-0">
                <div class="bg-light-blue mr-1 py-1">
                    <i class="material-icons text-success">check</i>
                </div>
            </div>
            <div class="col-lg-2 text-center px-0">
                <div class="bg-light-blue mr-1 py-1">
                    <i class="material-icons text-success">check</i>
                </div>
            </div>
            <div class="col-lg-2 text-center px-0">
                <div class="bg-light-blue mr-1 py-1">
                    <i class="material-icons text-success">check</i>
                </div>
            </div>
        </div>
        <div class="row pb-1">
            <div class="col-lg-2 d-flex bg-light-blue mr-1" style="justify-content: center; align-items: center">
                <h5>Power Blast</h5>
            </div>
            <div class="col-lg-2 text-center px-0">
                <div class="bg-light-blue mr-1 py-1">
                    <i class="material-icons text-success">check</i>
                </div>
            </div>
            <div class="col-lg-2 text-center px-0">
                <div class="bg-light-blue mr-1 py-1">
                    <i class="material-icons text-success">check</i>
                </div>
            </div>
            <div class="col-lg-2 text-center px-0">
                <div class="bg-light-blue mr-1 py-1">
                    <i class="material-icons text-success">check</i>
                </div>
            </div>
            <div class="col-lg-2 px-0">
                <div class="bg-light-blue mr-1 py-1 h-100">
                    &nbsp;
                </div>
            </div>
        </div>
        <div class="row pb-1">
            <div class="col-lg-2 d-flex bg-light-blue mr-1" style="justify-content: center; align-items: center">
                <h5>Foam Polish</h5>
            </div>
            <div class="col-lg-2 text-center px-0">
                <div class="bg-light-blue mr-1 py-1">
                    <i class="material-icons text-success">check</i>
                </div>
            </div>
            <div class="col-lg-2 text-center px-0">
                <div class="bg-light-blue mr-1 py-1">
                    <i class="material-icons text-success">check</i>
                </div>
            </div>
            <div class="col-lg-2 px-0">
                <div class="bg-light-blue mr-1 py-1 h-100">
                    &nbsp;
                </div>
            </div>
            <div class="col-lg-2 px-0">
                <div class="bg-light-blue mr-1 py-1 h-100">
                    &nbsp;
                </div>
            </div>
        </div>
        <div class="row pb-1">
            <div class="col-lg-2 d-flex bg-light-blue mr-1" style="justify-content: center; align-items: center">
                <h5>Clear Coat Sealer</h5>
            </div>
            <div class="col-lg-2 text-center px-0">
                <div class="bg-light-blue mr-1 py-1">
                    <i class="material-icons text-success">check</i>
                </div>
            </div>
            <div class="col-lg-2 text-center px-0">
                <div class="bg-light-blue mr-1 py-1">
                    <i class="material-icons text-success">check</i>
                </div>
            </div>
            <div class="col-lg-2 px-0">
                <div class="bg-light-blue mr-1 py-1 h-100">
                    &nbsp;
                </div>
            </div>
            <div class="col-lg-2 px-0">
                <div class="bg-light-blue mr-1 py-1 h-100">
                    &nbsp;
                </div>
            </div>
        </div>
        <div class="row pb-1">
            <div class="col-lg-2 d-flex bg-light-blue mr-1" style="justify-content: center; align-items: center">
                <h5>Weather Guard</h5>
            </div>
            <div class="col-lg-2 text-center px-0">
                <div class="bg-light-blue mr-1 py-1">
                    <i class="material-icons text-success">check</i>
                </div>
            </div>
            <div class="col-lg-2 px-0">
                <div class="bg-light-blue mr-1 py-1 h-100">
                    &nbsp;
                </div>
            </div>
            <div class="col-lg-2 px-0">
                <div class="bg-light-blue mr-1 py-1 h-100">
                    &nbsp;
                </div>
            </div>
            <div class="col-lg-2 px-0">
                <div class="bg-light-blue mr-1 py-1 h-100">
                    &nbsp;
                </div>
            </div>
        </div>
        <div class="row pb-1">
            <div class="col-lg-2 d-flex bg-light-blue mr-1" style="justify-content: center; align-items: center">
                <h5>Tire Shiner</h5>
            </div>
            <div class="col-lg-2 text-center px-0">
                <div class="bg-light-blue mr-1 py-1">
                    <i class="material-icons text-success">check</i>
                </div>
            </div>
            <div class="col-lg-2 px-0">
                <div class="bg-light-blue mr-1 py-1 h-100">
                    &nbsp;
                </div>
            </div>
            <div class="col-lg-2 px-0">
                <div class="bg-light-blue mr-1 py-1 h-100">
                    &nbsp;
                </div>
            </div>
            <div class="col-lg-2 px-0">
                <div class="bg-light-blue mr-1 py-1 h-100">
                    &nbsp;
                </div>
            </div>
        </div>
        <div class="row pb-1">
            <div class="col-lg-2 d-flex bg-light-blue mr-1" style="justify-content: center; align-items: center">
                <h5>Spot Free Rinse</h5>
            </div>
            <div class="col-lg-2 text-center px-0">
                <div class="bg-light-blue mr-1 py-1">
                    <i class="material-icons text-success">check</i>
                </div>
            </div>
            <div class="col-lg-2 text-center px-0">
                <div class="bg-light-blue mr-1 py-1">
                    <i class="material-icons text-success">check</i>
                </div>
            </div>
            <div class="col-lg-2 text-center px-0">
                <div class="bg-light-blue mr-1 py-1">
                    <i class="material-icons text-success">check</i>
                </div>
            </div>
            <div class="col-lg-2 text-center px-0">
                <div class="bg-light-blue mr-1 py-1">
                    <i class="material-icons text-success">check</i>
                </div>
            </div>
        </div>
        <div class="row pb-1">
            <div class="col-lg-2 d-flex bg-light-blue mr-1" style="justify-content: center; align-items: center">
                <h5>Tempest Dryers</h5>
            </div>
            <div class="col-lg-2 text-center px-0">
                <div class="bg-light-blue mr-1 py-1">
                    <i class="material-icons text-success">check</i>
                </div>
            </div>
            <div class="col-lg-2 text-center px-0">
                <div class="bg-light-blue mr-1 py-1">
                    <i class="material-icons text-success">check</i>
                </div>
            </div>
            <div class="col-lg-2 text-center px-0">
                <div class="bg-light-blue mr-1 py-1">
                    <i class="material-icons text-success">check</i>
                </div>
            </div>
            <div class="col-lg-2 text-center px-0">
                <div class="bg-light-blue mr-1 py-1">
                    <i class="material-icons text-success">check</i>
                </div>
            </div>
        </div>
        <div class="row pb-1">
            <div class="col-lg-2 px-0 mr-1">
                <div class="text-light py-3 text-center">
                    &nbsp;
                </div>
            </div>
            <div class="col-lg-2 px-0">
                <div class="bg-success text-light py-3 text-center mr-1">
                    <h1>$17</h1>
                </div>
            </div>
            <div class="col-lg-2 px-0">
                <div class="bg-success text-light py-3 text-center mr-1">
                    <h1>$12</h1>
                </div>
            </div>
            <div class="col-lg-2 px-0">
                <div class="bg-success text-light py-3 text-center mr-1">
                    <h1>$10</h1>
                </div>
            </div>
            <div class="col-lg-2 px-0">
                <div class="bg-success text-light py-3 text-center mr-1">
                    <h1>$8</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row my-5">
    <div class="col-lg-10 offset-lg-1">
        <h1 class="dark-bar text-center mb-5">Self Serve Bays</h1>

        <div class="row my-5">
            <div class="col-lg-4 bg-secondary" style="height: 240px; line-height: 240px; text-align: center">
                [Image of Self Serve Bays]
            </div>

            <div class="col-lg-8">
                <p class="text-muted" style="font-size: 1.4em;">
                    Each of our 4 self serve bays are equipped with a high pressure wash wand, and
                    foaming wash brush. For convenience, all bays accept cash, or credit cards.
                </p>
            </div>
        </div>

        <div class="row my-5">
            <div class="col-lg-8">
                <p class="text-muted" style="font-size: 1.4em;">
                    Our self serve truck bay can easily accommodate the largest of trucks, buses, campers, and even 
                    18 wheelers. With an easy to access, and large parking lot you won't have to worry about navigating
                    through tight spaces.
                </p>
            </div>

            <div class="col-lg-4 bg-secondary" style="height: 240px; line-height: 240px; text-align: center">
                [Image of Self Serve Truck Bay In Action]
            </div>
        </div>
    </div>
</div>


<div class="row my-5">
    <div class="col-lg-10 offset-lg-1">
        <h1 class="dark-bar text-center mb-5">Vacuums</h1>

        <div class="row">
            <div class="col-lg-4 bg-secondary" style="height: 240px; line-height: 240px; text-align: center">
                [Image of Vacuum Island]
            </div>

            <div class="col-lg-8">
                <p class="text-muted" style="font-size: 1.4em;">
                    High-powered, self-service vacuums are located adjacent to the building. All vacuums are cash or coin
                    operated, and a change machine is available on site. They're a great value for those looking to
                    clean up the interior of their vehicles.
                </p>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>