<app-master-page>
  <h1 class="dark-bar text-center mb-5">Touch Free Washes</h1>

  <div class="row text-center text-light py-0 my-0">
    <div class="col-3 mr-1 h-100">
      &nbsp;
    </div>
    <div class="col-2 px-0 w-100">
      <div class="bg-primary mr-1 mt-3 mb-0 text-center">
        <h2 class="d-inline-block d-md-none upright-text mx-0">Extreme</h2>
        <h2 class="d-none d-md-block py-3">Extreme</h2>
      </div>
    </div>
    <div class="col-2 px-0 w-100">
      <div class="bg-primary mr-1 mt-3">
        <h2 class="d-inline-block d-md-none upright-text mx-0">Ultra</h2>
        <h2 class="d-none d-md-block py-3">Ultra</h2>
      </div>
    </div>
    <div class="col-2 px-0 w-100">
      <div class="bg-primary mr-1 mt-3">
        <h2 class="d-inline-block d-md-none upright-text mx-0">Deluxe</h2>
        <h2 class="d-none d-md-block py-3">Deluxe</h2>
      </div>
    </div>
    <div class="col-2 px-0 w-100">
      <div class="bg-primary mr-1 mt-3">
        <h2 class="d-inline-block d-md-none upright-text mx-0">Express</h2>
        <h2 class="d-none d-md-block py-3">Express</h2>
      </div>
    </div>
  </div>

  <div class="row pb-1">
    <div class="col-3 d-flex bg-light-blue mr-1" style="justify-content: center; align-items: center">
      <h5 class="my-0">Undercarriage Blast</h5>
    </div>
    <div class="col-2 text-center px-0">
      <div class="bg-light-blue mr-1 py-1 h-100">
        <i class="material-icons text-success">check</i>
      </div>
    </div>
    <div class="col-2 text-center px-0">
      <div class="bg-light-blue mr-1 py-1 h-100">
        <i class="material-icons text-success">check</i>
      </div>
    </div>
    <div class="col-2 text-center px-0">
      <div class="bg-light-blue mr-1 py-1 h-100">
        <i class="material-icons text-success">check</i>
      </div>
    </div>
    <div class="col-2 px-0">
      <div class="bg-light-blue mr-1 py-1 h-100">
        &nbsp;
      </div>
    </div>
  </div>
  <div class="row pb-1">
    <div class="col-3 d-flex bg-light-blue mr-1" style="justify-content: center; align-items: center">
      <h5>Rocker Panel Blast</h5>
    </div>
    <div class="col-2 text-center px-0">
      <div class="bg-light-blue mr-1 py-1 h-100">
        <i class="material-icons text-success">check</i>
      </div>
    </div>
    <div class="col-2 text-center px-0">
      <div class="bg-light-blue mr-1 py-1 h-100">
        <i class="material-icons text-success">check</i>
      </div>
    </div>
    <div class="col-2 text-center px-0">
      <div class="bg-light-blue mr-1 py-1 h-100">
        <i class="material-icons text-success">check</i>
      </div>
    </div>
    <div class="col-2 px-0">
      <div class="bg-light-blue mr-1 py-1 h-100">
        &nbsp;
      </div>
    </div>
  </div>
  <div class="row pb-1">
    <div class="col-3 d-flex bg-light-blue mr-1" style="justify-content: center; align-items: center">
      <h5>Body Bath</h5>
    </div>
    <div class="col-2 px-0">
      <div class="bg-light-blue mr-1 py-1 h-100">
        &nbsp;
      </div>
    </div>
    <div class="col-2 px-0">
      <div class="bg-light-blue mr-1 py-1 h-100">
        &nbsp;
      </div>
    </div>
    <div class="col-2 text-center px-0">
      <div class="bg-light-blue mr-1 py-1 h-100">
        <i class="material-icons text-success">check</i>
      </div>
    </div>
    <div class="col-2 text-center px-0">
      <div class="bg-light-blue mr-1 py-1 h-100">
        <i class="material-icons text-success">check</i>
      </div>
    </div>
  </div>
  <div class="row pb-1">
    <div class="col-3 d-flex bg-light-blue mr-1" style="justify-content: center; align-items: center">
      <h5>Double Body Bath</h5>
    </div>
    <div class="col-2 text-center px-0">
      <div class="bg-light-blue mr-1 py-1 h-100">
        <i class="material-icons text-success">check</i>
      </div>
    </div>
    <div class="col-2 text-center px-0">
      <div class="bg-light-blue mr-1 py-1 h-100">
        <i class="material-icons text-success">check</i>
      </div>
    </div>
    <div class="col-2 px-0">
      <div class="bg-light-blue mr-1 py-1 h-100">
        &nbsp;
      </div>
    </div>
    <div class="col-2 px-0">
      <div class="bg-light-blue mr-1 py-1 h-100">
        &nbsp;
      </div>
    </div>
  </div>
  <div class="row pb-1">
    <div class="col-3 d-flex bg-light-blue mr-1" style="justify-content: center; align-items: center">
      <h5>High Pressure Wash</h5>
    </div>
    <div class="col-2 text-center px-0">
      <div class="bg-light-blue mr-1 py-1 h-100">
        <i class="material-icons text-success">check</i>
      </div>
    </div>
    <div class="col-2 text-center px-0">
      <div class="bg-light-blue mr-1 py-1 h-100">
        <i class="material-icons text-success">check</i>
      </div>
    </div>
    <div class="col-2 text-center px-0">
      <div class="bg-light-blue mr-1 py-1 h-100">
        <i class="material-icons text-success">check</i>
      </div>
    </div>
    <div class="col-2 text-center px-0">
      <div class="bg-light-blue mr-1 py-1 h-100">
        <i class="material-icons text-success">check</i>
      </div>
    </div>
  </div>
  <div class="row pb-1">
    <div class="col-3 d-flex bg-light-blue mr-1" style="justify-content: center; align-items: center">
      <h5>Power Blast</h5>
    </div>
    <div class="col-2 text-center px-0">
      <div class="bg-light-blue mr-1 py-1 h-100">
        <i class="material-icons text-success">check</i>
      </div>
    </div>
    <div class="col-2 text-center px-0">
      <div class="bg-light-blue mr-1 py-1 h-100">
        <i class="material-icons text-success">check</i>
      </div>
    </div>
    <div class="col-2 text-center px-0">
      <div class="bg-light-blue mr-1 py-1 h-100">
        <i class="material-icons text-success">check</i>
      </div>
    </div>
    <div class="col-2 px-0">
      <div class="bg-light-blue mr-1 py-1 h-100">
        &nbsp;
      </div>
    </div>
  </div>
  <div class="row pb-1">
    <div class="col-3 d-flex bg-light-blue mr-1" style="justify-content: center; align-items: center">
      <h5>Foam Polish</h5>
    </div>
    <div class="col-2 text-center px-0">
      <div class="bg-light-blue mr-1 py-1 h-100">
        <i class="material-icons text-success">check</i>
      </div>
    </div>
    <div class="col-2 text-center px-0">
      <div class="bg-light-blue mr-1 py-1 h-100">
        <i class="material-icons text-success">check</i>
      </div>
    </div>
    <div class="col-2 px-0">
      <div class="bg-light-blue mr-1 py-1 h-100">
        &nbsp;
      </div>
    </div>
    <div class="col-2 px-0">
      <div class="bg-light-blue mr-1 py-1 h-100">
        &nbsp;
      </div>
    </div>
  </div>
  <div class="row pb-1">
    <div class="col-3 d-flex bg-light-blue mr-1" style="justify-content: center; align-items: center">
      <h5>Clear Coat Sealer</h5>
    </div>
    <div class="col-2 text-center px-0">
      <div class="bg-light-blue mr-1 py-1 h-100">
        <i class="material-icons text-success">check</i>
      </div>
    </div>
    <div class="col-2 text-center px-0">
      <div class="bg-light-blue mr-1 py-1 h-100">
        <i class="material-icons text-success">check</i>
      </div>
    </div>
    <div class="col-2 px-0">
      <div class="bg-light-blue mr-1 py-1 h-100">
        &nbsp;
      </div>
    </div>
    <div class="col-2 px-0">
      <div class="bg-light-blue mr-1 py-1 h-100">
        &nbsp;
      </div>
    </div>
  </div>
  <div class="row pb-1">
    <div class="col-3 d-flex bg-light-blue mr-1" style="justify-content: center; align-items: center">
      <h5>Weather Guard</h5>
    </div>
    <div class="col-2 text-center px-0">
      <div class="bg-light-blue mr-1 py-1 h-100">
        <i class="material-icons text-success">check</i>
      </div>
    </div>
    <div class="col-2 px-0">
      <div class="bg-light-blue mr-1 py-1 h-100">
        &nbsp;
      </div>
    </div>
    <div class="col-2 px-0">
      <div class="bg-light-blue mr-1 py-1 h-100">
        &nbsp;
      </div>
    </div>
    <div class="col-2 px-0">
      <div class="bg-light-blue mr-1 py-1 h-100">
        &nbsp;
      </div>
    </div>
  </div>
  <div class="row pb-1">
    <div class="col-3 d-flex bg-light-blue mr-1" style="justify-content: center; align-items: center">
      <h5>Tire Shiner</h5>
    </div>
    <div class="col-2 text-center px-0">
      <div class="bg-light-blue mr-1 py-1 h-100">
        <i class="material-icons text-success">check</i>
      </div>
    </div>
    <div class="col-2 px-0">
      <div class="bg-light-blue mr-1 py-1 h-100">
        &nbsp;
      </div>
    </div>
    <div class="col-2 px-0">
      <div class="bg-light-blue mr-1 py-1 h-100">
        &nbsp;
      </div>
    </div>
    <div class="col-2 px-0">
      <div class="bg-light-blue mr-1 py-1 h-100">
        &nbsp;
      </div>
    </div>
  </div>
  <div class="row pb-1">
    <div class="col-3 d-flex bg-light-blue mr-1" style="justify-content: center; align-items: center">
      <h5>Spot Free Rinse</h5>
    </div>
    <div class="col-2 text-center px-0">
      <div class="bg-light-blue mr-1 py-1 h-100">
        <i class="material-icons text-success">check</i>
      </div>
    </div>
    <div class="col-2 text-center px-0">
      <div class="bg-light-blue mr-1 py-1 h-100">
        <i class="material-icons text-success">check</i>
      </div>
    </div>
    <div class="col-2 text-center px-0">
      <div class="bg-light-blue mr-1 py-1 h-100">
        <i class="material-icons text-success">check</i>
      </div>
    </div>
    <div class="col-2 text-center px-0">
      <div class="bg-light-blue mr-1 py-1 h-100">
        <i class="material-icons text-success">check</i>
      </div>
    </div>
  </div>
  <div class="row pb-1">
    <div class="col-3 d-flex bg-light-blue mr-1" style="justify-content: center; align-items: center">
      <h5>Tempest Dryers</h5>
    </div>
    <div class="col-2 text-center px-0">
      <div class="bg-light-blue mr-1 py-1 h-100">
        <i class="material-icons text-success">check</i>
      </div>
    </div>
    <div class="col-2 text-center px-0">
      <div class="bg-light-blue mr-1 py-1 h-100">
        <i class="material-icons text-success">check</i>
      </div>
    </div>
    <div class="col-2 text-center px-0">
      <div class="bg-light-blue mr-1 py-1 h-100">
        <i class="material-icons text-success">check</i>
      </div>
    </div>
    <div class="col-2 text-center px-0">
      <div class="bg-light-blue mr-1 py-1 h-100">
        <i class="material-icons text-success">check</i>
      </div>
    </div>
  </div>
  <div class="row pb-1">
    <div class="col-3 px-0 mr-1">
      <div class="text-light py-3 text-center">
        &nbsp;
      </div>
    </div>
    <div class="col-2 px-0">
      <div class="bg-success text-light py-3 text-center mr-1">
        <h1>$17</h1>
      </div>
    </div>
    <div class="col-2 px-0">
      <div class="bg-success text-light py-3 text-center mr-1">
        <h1>$12</h1>
      </div>
    </div>
    <div class="col-2 px-0">
      <div class="bg-success text-light py-3 text-center mr-1">
        <h1>$10</h1>
      </div>
    </div>
    <div class="col-2 px-0">
      <div class="bg-success text-light py-3 text-center mr-1">
        <h1>$8</h1>
      </div>
    </div>
  </div>

  <div class="row my-5">
    <div class="col-12">
      <h1 class="dark-bar text-center mb-5">Self Serve Bays</h1>

      <div class="row my-5">
        <div class="col-md-6 col-lg-4" style="min-height: 320px">
          <img src="/assets/imgs/overview_summer.png" style="width: 100%;" />
        </div>

        <div class="col-md-6 col-lg-8 mt-5 mt-md-0">
          <div class="d-table h-100">
            <p class="text-muted px-5 d-table-cell" style="font-size: 1.2em; vertical-align: middle;">
              Each of our 4 self serve bays are equipped with a high pressure wash wand and foaming wash brush. For
              convenience all bays accept cash or credit cards.
            </p>
          </div>
        </div>
      </div>

      <div class="row my-5">
        <div class="col-md-6 col-lg-8 mb-5 mb-md-0">
          <div class="d-table h-100">
            <p class="text-muted px-5 d-table-cell" style="font-size: 1.2em; vertical-align: middle;">
              Our Self Serve Industrial Truck bay has a height clearance of 14 feet and can easily accommodate the
              largest of trucks, buses, campers and even 18 wheelers. Our large parking lot provides easy access for all
              trucks.
            </p>
          </div>
        </div>

        <div class="col-md-6 col-lg-4" style="min-height: 320px;">
          <img src="/assets/imgs/bus.png" style="width: 100%;" />
        </div>
      </div>
    </div>
  </div>

  <!-- Dog Wash -->
  <div class="row my-5 mx-lg-4">
    <div class="col-12">
      <h1 class="dark-bar text-center mb-5">Self Serve Dog Wash</h1>

      <div class="row">
        <div class="col-md-6 col-lg-4" style="min-height: 320px">
          <img src="/assets/imgs/dog-wash.jpg" style="width: 100%;" />
        </div>

        <div class="col-md-6 col-lg-8 mt-5 mt-md-0">
          <div class="d-table h-100">
            <div class="text-muted px-5 d-table-cell" style="font-size: 1.2em; vertical-align: middle;">
              <div class="alert alert-info" style="font-size: 0.8em;">Due to freezing temperatures the dog wash is only
                available from May to
                September.</div>

              <p class="pb-5">
                Washing your dog can be challenging at home so we provide everything you need with our new do it
                yourself dog wash station that accommodates all breeds and sizes. This is available to you 24 hours, 7
                days a week and no appointment is necessary.
              </p>
              <p>
                Our easy get in and out elevated dog wash station has a latched door, non-slip mat and tie-out to keep
                your furry friend safely contained. Comfortable warm water, high quality all natural oatmeal shampoo,
                flea and tick shampoo, skunk odor remover, conditioner and a high and low blow dryer.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Dog Wash -->
  <div class="row my-5 mx-lg-4">
    <div class="col-12">
      <h1 class="dark-bar text-center mb-5">Auto Detailing</h1>

      <div class="row">
        <div class="col-md-6 col-lg-8 mt-5 mt-md-0">
          <div class="d-table h-100">
            <div class="text-muted px-5 d-table-cell" style="font-size: 1.2em; vertical-align: middle;">
              <p class="pb-5">
                Treat you car to a spa day. Whether you're looking for an interior deep clean or an exterior buff and
                wax Ed's Auto Detailing can help. Located on site, appointments can be booked any day of the week. Every
                vehicle is treated uniquely, with each full detail typically taking 8 hours.
              </p>

              <div class="d-flex justify-content-left">
                <h3>Click here for available services:</h3>
                <a href="https://edsautodetailing.com/#/services" target="blank">
                  <h3 class="pl-2">Ed's Auto Detailing</h3>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4" style="min-height: 320px">
          <img src="/assets/imgs/detailing.jpg" style="width: 100%;" />
        </div>
      </div>
    </div>
  </div>

  <div class="row my-5 mx-lg-4">
    <div class="col-12">
      <h1 class="dark-bar text-center mb-5">Vacuums</h1>

      <div class="row">
        <div class="col-md-6 col-lg-4" style="min-height: 320px">
          <img src="/assets/imgs/vacuums_summer.png" style="width: 100%;" />
        </div>

        <div class="col-md-6 col-lg-8 mt-5 mt-md-0">
          <div class="d-table h-100">
            <p class="text-muted px-5 d-table-cell" style="font-size: 1.2em; vertical-align: middle;">
              High-powered self-service vacuums are located adjacent to the building. All vacuums are cash or coin
              operated and a change machine is available on site. They are a great value for those looking to clean the
              interior of their vehicle.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-master-page>