<div class="row py-3 text-center text-md-left">
  <div class="col-md-6 col-xl-5 offset-xl-1">
    <a class="text-dark" href="/">
      <h1 class="font-weight-bold d-inline-block my-2">Gardiner Car And <br /> Truck Wash LLC</h1>
      <img class="logo mx-auto d-none d-lg-inline-block" style="position: absolute; top: 0px;"
        src="assets/imgs/car-logo-trans.png" />
    </a>
  </div>
  <div class="col-md-6 col-xl-5">
    <div class="float-lg-right">
      <h4 class="pb-1">
        396 Brunswick Ave<br />
        Gardiner, Maine 04345
      </h4>

      <a href="https://www.facebook.com/GardinerCarAndTruckWash/"><img src="/assets/imgs/find-us-on-facebook.png"
          class="text-center mx-auto d-block pb-1" style="height: 32px;" /></a>
      <h4 class="text-muted text-center"><a href="tel:207-242-2474">(207)-242-2474</a></h4>
    </div>
  </div>
</div>

<div class="row" style="margin-left: -30px; margin-right: -30px;">
  <div class="col-12">
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #e3681c;">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="d-flex d-block flex-row mx-auto">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav w-100 text-centered">
            <ng-container *ngFor="let l of links">
              <a class="nav-item nav-link" [ngClass]="isActive(l.route)" href="{{l.route}}">{{ l.name }}</a>
            </ng-container>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>