@import '../../../../assets/css/bootstrap/functions';
@import '../../../../assets/css/bootstrap/variables';

.logo {
    height: 120px;
}

.nav-item {
    margin: 0px 24px;
    font-size: 1.25em;
}