$corner-radius: 8px;

body {
    overflow-x: hidden;
}

.small-icon {
    font-size: 16px;
}

.medium-icon {
    font-size: 32px;
}

.large-icon {
    font-size: 48px;
}

.jumbo-icon {
    font-size: 64px;
}