h2:after {
    width: 80px;
    height: 2px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: white;
    content: '';
    display: block;
}

.dark-bar:after {
    width: 80px;
    height: 2px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: black;
    content: '';
    display: block;
}
