@import "_theme.sass"
@import "_navbar.sass"
@import "_home.sass"
@import "_services.sass"

$corner-radius: 8px

html
    height: 100%
    font-family: "Crimson Text", Georgia, serif

body
    overflow-x: hidden
    min-height: 100%

.small-icon
    font-size: 16px

.medium-icon
    font-size: 32px

.large-icon
    font-size: 48px

.jumbo-icon
    font-size: 64px

*
    font-family: "Crimson Text", Georgia, serif

.title-bar:after
    width: 80px
    height: 3px
    margin-left: auto
    margin-right: auto
    margin-top: 20px
    background-color: black
    content: ''
    display: block

// Center image on about us page
.about-us-content
    p
        img
            display: block
            margin: 0 auto
            padding-top: 48px
