<div class="row py-3 text-center text-md-left">
	<div class="col-md-6 col-xl-5 offset-xl-1">
		<a class="text-dark text-decoration-none d-flex flex-row align-items-center" href="/">
			<h1 class="fw-bold flex-grow-1 mb-0">Gardiner Car And <br /> Truck Wash LLC</h1>
			<img class="logo d-none d-lg-block" src="/images/logo-car-only-transparent.png" />
		</a>
	</div>
	<div class="col-md-6 col-xl-5">
		<div class="float-lg-right">
			<h4 class="pb-1">
				396 Brunswick Ave<br />
				Gardiner, Maine 04345
			</h4>

			<a href="https://www.facebook.com/GardinerCarAndTruckWash/"><img src="/images/find-us-on-facebook.png"
					class="text-center mx-auto d-block pb-1 rounded" style="height: 32px;" /></a>
			<h4 class="text-muted text-center"><a href="tel:207-242-2474">(207)-242-2474</a></h4>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-12">
		<nav class="navbar navbar-expand-lg bg-secondary navbar-dark">
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="mx-auto">
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<div class="navbar-nav w-100 text-centered">
						{{ $current := . }}
						{{ range .Site.Menus.main }}
						{{ $active := eq .URL $current.RelPermalink }}
						<a href="{{ .URL }}" class="nav-item nav-link {{ if $active }}active{{ end }}">
							{{ .Name }}
						</a>
						{{ end }}
					</div>
				</div>
			</div>
		</nav>
	</div>
</div>