<app-master-page>
    <h1 class="mb-5 dark-bar text-center">Welcome to Gardiner Car & Truck Wash LLC</h1>

    <p>
        Gardiner Car & Truck Wash LLC is a locally owned and operated family business Conveniently located just 3.2
        miles from I-295 Exit 49 (US-201 toward Gardiner). Our address is 396 Brunswick Ave (Route 202) in Gardiner,
        Maine. The car wash was built in 2010 and we purchased the business in January 2017. We have performed some
        great upgrades during our ownership and are continually working on expanding the car wash.
    </p>

    <p>
        Customer service is second to none and your satisfaction is guaranteed. If you are not satisfied for any
        reason let us know so we can make things right.
    </p>

    <p>
        We strive to provide the best washes from our Touchless Auto Bay by using high quality Diamond Shine soap
        products. In our Self Car and Truck bays we have premium foam brushes and super high pressure washing wands
        for self washing vehicles.
    </p>

    <h2 class="mt-5 mb-3">Additionally we offer:</h2>
    <ul>
        <li>Music is playing in the self bays for our customers to listen to while washing their vehicles.</li>
        <li>A complimentary drying towels and window cleaner station.</li>
        <li>Facebook discount specials</li>
        <li>Home of the car wash magic specials</li>
        <li>Loyalty Autobay Club</li>
        <li>Pre-paid Business Auto Bay Program</li>
        <li>Fundraisers</li>
    </ul>

    <p>
        Owners are on-site daily testing equipment, cleaning bays and maintaining the property. Our phone number is
        posted throughout the car wash, we do our best to answer and if we don’t we will return phone calls
        promptly.
    </p>

    <div class="text-center py-5">
        <img src="/assets/imgs/owners_short.jpg" class="rounded mb-3" style="max-width: 720px;">
        <h3 class="text-mute">Joe & Kathy</h3>
    </div>
</app-master-page>